[build-system]
requires = [ "poetry>=0.12",]
build-backend = "poetry.masonry.api"

[tool.poetry]
name = "varname"
version = "0.7.0"
description = "Dark magics about variable names in python."
authors = [ "pwwang <pwwang@pwwang.com>",]
license = "MIT"
readme = "README.md"
homepage = "https://github.com/pwwang/python-varname"
repository = "https://github.com/pwwang/python-varname"

[tool.poetry.dependencies]
python = "^3.6"
executing = "*"
asttokens = { version = "2.*", optional = true }
pure_eval = { version = "0.*", optional = true }

[tool.poetry.dev-dependencies]
pytest = "*"
pytest-cov = "*"
asttokens = "2.*"
pure_eval = "0.*"

[tool.pytest.ini_options]
addopts = "-vv -W error::UserWarning --cov-config=.coveragerc --cov=varname --cov-report xml:.coverage.xml --cov-report term-missing"
console_output_style = "progress"
junit_family = "xunit1"

[tool.mypy]
ignore_missing_imports = true
allow_redefinition = true
disable_error_code = ["attr-defined", "no-redef"]
show_error_codes = true
strict_optional = false

[tool.black]
line-length = 80
target-version = ['py37', 'py38', 'py39']
include = '\.pyi?$'
